<h1>Recuperar Contraseña</h1>

<form action="" id="forgotPasswordForm">
  <label >Correo</label>
  <input type="email" name="email">
  <label >Password</label>
  <input type="password" name="password">
  <button type="submit">Cambiar contraseña</button>
</form>

<script src="/js/forgotPassword.js"></script>