<h2>Login</h2>

<form action="submit" id="loginForm">
  <label for="">Usuario</label>
  <input type="email" name="email">
  <label for="">Password</label>
  <input type="password" name="password">
  <button type="submit">Iniciar sesion</button>
</form>
<button class="buttons" onclick="signup()">Registrate</button>

<script src="/js/login.js"></script>