<h3>ingrese su correo electronico para restablecer su contraseña</h3>
<form id="restablecerPassword">
  <label for="email">email</label>
  <input type="email" name="email">
  <button type="submit">Iniciar sesion</button>
</form>

<script src="/js/sendemail.js"></script>